/* Gallery */
.gallery-box {
  margin: 30px 0;

  &.gallery-footer {
    margin: 0;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;

  .gallery__image {
    user-select: none;
    background: var(--background-color);

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 8px;
      overflow: hidden;
      object-fit: cover;

      &.lightense-open {
        border-radius: 0;
      }
    }
  }
}